# Python
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Node
node_modules/
package-lock.json
package.json

# Raw data (too large / licensing restrictions)
data/raw/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
